<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h3>Create new Listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter the title" type="text"/> <br><br>
        <input name="listing[description]" placeholder="Enter the description" type="text"/> <br><br>
        <input name="listing[image][url]" placeholder="Enter the image" type="text"/> <br><br>
        <input name="listing[price]" placeholder="Enter the price" type="text"/> <br><br>
        <input name="listing[location]" placeholder="Enter the location" type="text"/> <br><br>
        <input name="listing[country]" placeholder="Enter the country" type="text"/> <br><br>
        <button type="submit"> Submit the details</button>
    </form>
</body>
</html>